# Python
__pycache__/
*.pyc
.venv/
.uv/
*.egg-info/

# Node
node_modules/
dist/
.pnpm-store/

# Env
.env
.env.local

# OS
.DS_Store

# Docker
*.log

# IDE
.vscode/
.idea/

# TS build artifacts
*.tsbuildinfo
vite.config.d.ts
